<!-- inherit statement -->
{% extends '__base__.html' %}

{% block title %}
	Art & Mate | Show Image
{% endblock %}
{% block head %}
	<style>
		.imgp li{list-style:none;display:inline;width:300px;margin:0px 30px;}
		.imginfo li{list-style:none;display:inline;width:300px;margin:0px 30px;}
	</style>
{% endblock %}
{% block body %}
<body>
	<div class="imgp">
		<ul>
			<li><img style="width:900px" src="data:;base64,{{ img_stream }}"></li>
			
			<div class="imginfo">
				<li><label>Image name: </label>{{ imgInfo[1] }}</li>
				<li><label>Author: </label>{{ imgInfo[4] }}</li>
			</div>
			
			<li><label>Introduction: </label>{{ imgInfo[5] }}</li>
			<li><label>Like: </label>{{ imgInfo[7] }}</li>
			<form method="post" action="/likeprocess">
				<input type="hidden" name="filename" value="{{ imgInfo[1] }}">
				<input type="hidden" name="filename_extension" value="{{ imgInfo[8] }}">
				<li><button style="background: url(static/images/like_button.jpg);width:50px;height:50px" type="submit" name="likeOrDislike" value=1></button></li>
				<li><button style="background: url(static/images/dislike_button.jpg);width:50px;height:50px" type="submit" name="likeOrDislike" value=-1></button></li>
			</form>
			<li>Like and dislike button, can be change.</li>
		</ul>
	</div>
</body>
{% endblock %}
