<!-- inherit statement -->
{% extends '__base__.html' %}

{% block title %}
	Art & Mate | Show Image
{% endblock %}
{% block head %}
	<style>
		.imgp {float:left;}
		.imgp img{object-fit: scale-down;cursor:pointer;}
		.imgp li{list-style:none;display:inline;width:300px;margin:0px 30px;}
		.imginfo li{list-style:none;display:inline;width:300px;margin:0px 30px;}
	</style>
	<script>
	function deleteConf(){
		var isdelete = prompt("Input your username:");
		if (username == session['username']) {
			document.getElementById("deleteimg").submit()
			alert(1);
		}
		else {
			alert(2);
			return false;
		}
	}
    </script>
{% endblock %}
{% block body %}
<body>
	<div class="imgp">
		<ul>
			<form method="post" action="/checkImgDetails" name="checkDetails">
				<input type="hidden" name="fn" value="{{ imgInfo[1] }}">
				<input type="hidden" name="fn_ex" value="{{ imgInfo[8] }}">
				<li><img style="width:900px" src="data:;base64,{{ img_stream }}" title="Click to check details" onclick="document.checkDetails.submit();"></li>
			</form>
			
			<div class="imginfo">
				<li><label>Image name: </label>{{ imgInfo[1] }}</li>
				<li><label>Author: </label>{{ imgInfo[4] }}</li>
			</div>
			
			<li><label>Introduction: </label>{{ imgInfo[5] }}</li>
			<li><label>Like(s): </label>{{ imgInfo[7] }}</li>
			<form method="post" action="/likeprocess">
				<input type="hidden" name="filename" value="{{ imgInfo[1] }}">
				<input type="hidden" name="filename_extension" value="{{ imgInfo[8] }}">
				{% if isLiked == 0 %}
					<input type="hidden" name="like_type" value="0">
					<li><button style="background: url(static/images/isLike_button.jpg);width:50px;height:50px" type="submit" name="likeOrDislike" value=-1></button></li>
					<li><button style="background: url(static/images/dislike_button.jpg);width:50px;height:50px" type="submit" name="likeOrDislike" value=-2></button></li>
				{% elif isLiked == 1 %}
					<input type="hidden" name="like_type" value="1">
					<li><button style="background: url(static/images/like_button.jpg);width:50px;height:50px" type="submit" name="likeOrDislike" value=2></button></li>
					<li><button style="background: url(static/images/isDislike_button.jpg);width:50px;height:50px" type="submit" name="likeOrDislike" value=1></button></li>
				{% else %}
					<input type="hidden" name="like_type" value="2">
					<li><button style="background: url(static/images/like_button.jpg);width:50px;height:50px" type="submit" name="likeOrDislike" value=1></button></li>
					<li><button style="background: url(static/images/dislike_button.jpg);width:50px;height:50px" type="submit" name="likeOrDislike" value=-1></button></li>
				{% endif %}
			</form>
			<li>Like and dislike button, can be change.</li>
		</ul>
	</div>
	<div>
		{% if session['username'] ==  imgInfo[2] %}
			<form method="post" action="/imgDelete" id="deleteimg">
				<input type="hidden" name="imgname" value="{{ imgInfo[1] }}">
				<input type="submit" name="submit" onclick="return confirm('Are you sure to delete this picture?');" value="Delete">
			</form>
		{% endif %}
	</div>
</body>
{% endblock %}
