<!-- inherit statement -->
{% extends '__base__.html' %}

{% block title %}
	Art & Mate | UploadPage
{% endblock %}

{% block body %}
<body>
	<form action="/upload" method="post" enctype="multipart/form-data">
		<input type="file" name="file">
		<input type="radio" name="category" value="1" checked>회화
		<input type="radio" name="category" value="2">서양화
		<input type="radio" name="category" value="3">동양화<br>
		<label>Image name:</label>
		<input type="text" name="imagename"><br>
		<label>Introduction:</label><br>
		<input type="text" name="intro" style="width:400px; height:100px;"><br>
		{% if session['username'] %}
			<input type="image" src="{{ url_for('static', filename='images/upload_icon.png') }}">
		{% else %}
			<a href="signin"><img alt="upload" onclick="alert('Please sign in!')" src="{{ url_for('static', filename='images/upload_icon.png') }}"></a>
		{% endif %}
	</form>
</body>
{% endblock %}
